<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsh.erp.datasource.mappers.MaterialRMapper">
  <resultMap id="BaseResultMap" type="com.jsh.erp.datasource.entities.MaterialR">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="organ_id" jdbcType="BIGINT" property="organId" />
    <result column="quality_no" jdbcType="VARCHAR" property="qualityNo" />
    <result column="quality_name" jdbcType="VARCHAR" property="qualityName" />
    <result column="quality_time" jdbcType="TIMESTAMP" property="qualityTime" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="auditor" jdbcType="BIGINT" property="auditor" />
    <result column="oper_number" jdbcType="DECIMAL" property="operNumber" />
    <result column="basic_number" jdbcType="DECIMAL" property="basicNumber" />
    <result column="material_unit" jdbcType="VARCHAR" property="materialUnit" />
    <result column="depot_id" jdbcType="BIGINT" property="depotId" />
    <result column="link_number" jdbcType="VARCHAR" property="linkNumber" />
    <result column="batch_number" jdbcType="VARCHAR" property="batchNumber" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="tenant_id" jdbcType="BIGINT" property="tenantId" />
    <result column="delete_flag" jdbcType="VARCHAR" property="deleteFlag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, type, organ_id, quality_no, quality_name, quality_time, material_id, material_name, oper_number,
    basic_number, material_unit, depot_id, link_number, batch_number, remark, file_name, status, creator,
    auditor, create_time, source, tenant_id, delete_flag
  </sql>
  <select id="selectByExample" parameterType="com.jsh.erp.datasource.entities.MaterialREx" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from jsh_account_head
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from quality
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from quality
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.jsh.erp.datasource.entities.MaterialREx">
    delete from quality
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jsh.erp.datasource.entities.MaterialR">
    insert into quality (id, type, organ_id, quality_no, quality_name, quality_time, material_id, material_name, oper_number,
    basic_number, material_unit, depot_id, link_number, batch_number, remark, file_name, status, creator, auditor,
    create_time, source, tenant_id, delete_flag)
    values (#{id,jdbcType=BIGINT},#{type,jdbcType=VARCHAR},#{organId,jdbcType=BIGINT},#{qualityNo,jdbcType=VARCHAR},
    #{qualityName,jdbcType=VARCHAR},#{qualityTime,jdbcType=TIMESTAMP},#{materialId,jdbcType=BIGINT},#{materialName,jdbcType=VARCHAR},
    #{operNumber,jdbcType=DECIMAL},#{basicNumber,jdbcType=DECIMAL},#{materialUnit,jdbcType=VARCHAR},#{depotId,jdbcType=BIGINT},
    #{linkNumber,jdbcType=VARCHAR},#{batchNumber,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},
    #{fileName,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR}, #{creator,jdbcType=BIGINT},#{auditor,jdbcType=BIGINT},
    #{createTime,jdbcType=TIMESTAMP},#{source,jdbcType=VARCHAR},#{tenantId,jdbcType=BIGINT},#{deleteFlag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jsh.erp.datasource.entities.MaterialR">
    insert into quality
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="organId != null">
        organ_id,
      </if>
      <if test="qualityNo != null">
        quality_no,
      </if>
      <if test="qualityName != null">
        quality_name,
      </if>
      <if test="qualityTime != null">
      quality_time,
    </if>
      <if test="materialId != null">
        material_id,
      </if>
      <if test="materialName != null">
        material_name,
      </if>
      <if test="operNumber != null">
        oper_number,
      </if>
      <if test="basicNumber != null">
        basic_number,
      </if>
      <if test="materialUnit != null">
        material_unit,
      </if>
      <if test="depotId != null">
        depot_id,
      </if>
      <if test="linkNumber != null">
        link_number,
      </if>
      <if test="batchNumber != null">
        batch_number,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="fileName != null">
        file_name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="organId != null">
        #{organId,jdbcType=BIGINT},
      </if>
      <if test="qualityNo != null">
        #{qualityNo,jdbcType=VARCHAR},
      </if>
      <if test="qualityName != null">
        #{qualityName,jdbcType=VARCHAR},
      </if>
      <if test="qualityTime != null">
        #{qualityTime,jdbcType=DATE},
      </if>
      <if test="materialId != null">
        #{materialId,jdbcType=BIGINT},
      </if>
      <if test="materialName != null">
        #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="operNumber != null">
        #{operNumber,jdbcType=DECIMAL},
      </if>
      <if test="basicNumber != null">
        #{basicNumber,jdbcType=DECIMAL},
      </if>
      <if test="materialUnit != null">
        #{materialUnit,jdbcType=VARCHAR},
      </if>
      <if test="depotId != null">
        #{depotId,jdbcType=BIGINT},
      </if>
      <if test="linkNumber != null">
        #{linkNumber,jdbcType=VARCHAR},
      </if>
      <if test="batchNumber != null">
        #{batchNumber,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jsh.erp.datasource.entities.MaterialREx" resultType="java.lang.Long">
    select count(*) from quality
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update quality
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.organId != null">
        organ_id = #{record.organId,jdbcType=BIGINT},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=BIGINT},
      </if>
      <if test="record.fileName != null">
        file_name = #{record.fileName,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.source != null">
        source = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantId != null">
        tenant_id = #{record.tenantId,jdbcType=BIGINT},
      </if>
      <if test="record.deleteFlag != null">
        delete_flag = #{record.deleteFlag,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update quality
    set id = #{record.id,jdbcType=BIGINT},
      type = #{record.type,jdbcType=VARCHAR},
      organ_id = #{record.organId,jdbcType=BIGINT},
      creator = #{record.creator,jdbcType=BIGINT},
      remark = #{record.remark,jdbcType=VARCHAR},
      file_name = #{record.fileName,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      source = #{record.source,jdbcType=VARCHAR},
      tenant_id = #{record.tenantId,jdbcType=BIGINT},
      delete_flag = #{record.deleteFlag,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jsh.erp.datasource.entities.MaterialR">
    update quality
    <set>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="organId != null">
        organ_id = #{organId,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        tenant_id = #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jsh.erp.datasource.entities.MaterialR">
    update quality
    set type = #{type,jdbcType=VARCHAR},
      organ_id = #{organId,jdbcType=BIGINT},
      creator = #{creator,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      tenant_id = #{tenantId,jdbcType=BIGINT},
      delete_flag = #{deleteFlag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>